.user {
  display: flex;
  align-items: center;
  width: 200px;
  height: 80px;
  background-color: white;
  margin: 10px;
  border-radius: 15px;
}
.user__image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.user > h4 {
  margin-left: 10px;
}
